@font-face {
  font-family: "SourceHanSC";
  font-style: normal;
  font-weight: 200; /* ExtraLight */
  src: url("../../font/SourceHanSerifSC-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "SourceHanSC";
  font-style: normal;
  font-weight: 300; /* Light */
  src: url("../../font/SourceHanSerifSC-Light.otf") format("opentype");
}

@font-face {
  font-family: "SourceHanSC";
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url("../../font/SourceHanSerifSC-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SourceHanSC";
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url("../../font/SourceHanSerifSC-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SourceHanSC";
  font-style: normal;
  font-weight: 600; /* SemiBold */
  src: url("../../font/SourceHanSerifSC-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "SourceHanSC";
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url("../../font/SourceHanSerifSC-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SourceHanSC";
  font-style: normal;
  font-weight: 800; /* Heavy */
  src: url("../../font/SourceHanSerifSC-Heavy.otf") format("opentype");
}
